h1 {
    color: #14556B;
    border-bottom: 2px dotted grey;
    margin-bottom: 10px;
}

#content {
    margin: 1px;
    border-top: 2px dotted grey;
    border-left: 2px dotted grey;
}

.intro {
    margin: 10px;
}

img {
    border: 1px solid black;
    padding: 5px;
    width: 400px;
    height: 400px;
    box-shadow: 4px 4px 3px 1px rgba(66, 68, 90, 0.39);
}

.figure {
    margin-top: 20px;
    float: left;
    text-align: center;
    width: 450px;
    height: 482px;
}

#gallery{
    width: 1200px;
}